.quiz-card {
  padding-bottom: 40px;
  z-index: 100;
}

.quiz-card h2 {
  font-size: clamp(3.6rem, 4vw, 4.2rem);
  text-align: center; 
}

.quiz-card figure {
  margin: 0;
  padding: 0;
}

.quiz-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 13px; 
  border: 5px solid rgba(170, 244, 11, 0.231);
  box-shadow: 0 0 40px 0 rgba(16, 202, 244, 0.37);
  margin-bottom: 1.6rem;
  position: relative;
  left: -5px;
}

.quiz-card ul {
  margin: 0;
  padding: 0;
}


.quiz-result button,
.quiz-card li {
  font-size: 1.3rem;
  background-color: rgba(26, 22, 22, 0.89);
  text-align: center;
  list-style: none;
  margin-bottom: 1.0rem;
  padding: 0.7rem;
  transition: 
    font-size 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  border-radius: 13px; 
  border: 3px solid #0000001a; 
}

.quiz-result button:hover,
.quiz-card li:hover {
  font-size: 2.3rem;
  box-shadow: 0 0 40px 0 rgba(209, 245, 6, 0.68);
  background-color: rgba(191, 39, 242, 0.731);
  border: 1px solid rgba(15, 242, 193, 0.452);
  transition: 
    font-size 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
}

.quiz-result button {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  color: white;
  display: block;
  background-color: rgba(216, 112, 14, 0.89);
}

.quiz-result p {
  font-size: 2.3rem;
  text-align: center;
}

figure {
  position: relative;
}

figure p {
  font-size: clamp(1.8rem, 4vw, 2.6rem);
  font-weight: 800;
  bottom: 15px;
  right: 15px;
  text-shadow: 3px 3px 6px rgba(9, 0, 0, 0.989);
  position: absolute;
}
