.quiz-card {
  border: 2px solid red;
}

.quiz-card h2 {
  font-size: clamp(2.2rem, 4vw, 2.9rem);
}

.quiz-card h2 span {
  font-size: calc(1.6rem + 1vw);
}

.quiz-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.quiz-card ul {
  margin: 0;
  padding: 0;
}

.quiz-card li {
  font-size: 100%;
  list-style: none;
  padding: 0.7rem;
  transition: 
    font-size 0.5s ease-in-out;
}

.quiz-card li:hover {
  font-size: 120%;
  background-image: linear-gradient(
    180deg,
    rgb(188, 138, 234),
    rgb(221, 241, 203)
  );
  transition: 
    font-size 0.3s ease-in-out;
}