@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: linear-gradient(
    180deg,
    rgb(2, 1, 14),
    rgb(5, 1, 7),
    rgb(30, 6, 48)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgba(255, 255, 255, 0.784);
}

h2 {
  font-family: 'Bungee Shade', cursive;
  margin: 2.9rem;
  font-size: clamp(2.5rem, 6vw, 4.2rem);
  text-align: center; 
}

h3,p,li {
  font-family: 'Heebo', sans-serif;
}

nav {
  margin: 2rem;
}

a {
  color: #f2efef;
  text-decoration: underline;
}

#main-container {
  width: min(90%, 700px);
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

footer {
  text-align: center;
  margin-bottom: 3rem;
}

footer p,
footer p a {
  color: rgba(5, 138, 116, 0.557);
}

#mozarts-ghost {
  position: fixed;
  opacity: 1;
  bottom: 0;
  left: 10px;
  padding: 10px;
}

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
  color: rgb(164, 164, 235);
  text-decoration: none;
}

#mozarts-ghost a:hover {
  color: rgb(195, 0, 255);
}